[submodule "docsys"]
	path = build/docsys
	url = https://github.com/niftools/nifdocsys.git
[submodule "qhull"]
	path = lib/qhull
	url = https://github.com/qhull/qhull.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
[submodule "lib/gli"]
	path = lib/gli
	url = https://github.com/g-truc/gli.git
