# generated ones
Makefile
Makefile.Debug
Makefile.Release
moc_*.cpp
qrc_*.cpp

# compiled 
*.o

# eclipse project
.project
.cproject
.settings

# binary
NifSkope

# VC build dirs
release
debug
# VC debug file
vc100.pdb
