# Generated
.moc/
.obj/
.qrc/
.ui/
[Dd]ebug/
[Rr]elease/
GeneratedFiles/
Makefile
Makefile.Debug
Makefile.Release
moc_*.cpp
qrc_*.cpp
ui_*.h

# Intermediate 
*.o
*.obj
*.bak
*.ilk
*.log
*.tmp

# Eclipse project
.project
.cproject
.settings

# Qt Creator
NifSkope.pro.user

# Binaries
NifSkope
NifSkope.exe

# VC Project
*.cd
*.filters
*.sln
*.sln.docstates
*.suo
*.vcxproj
*.vcxproj.user
*.vcproj
*.vcproj.user
*.vspscc
*.vssscc

# VC Cache
ipch/
*.aps
*.cachefile
*.ncb
*.opensdf
*.sdf

# VC Debug
vc100.pdb

# OS
[Tt]humbs.db
*.DS_Store
