[submodule "docsys"]
	path = build/docsys
	url = git://github.com/niftools/nifdocsys.git
[submodule "qhull"]
	path = lib/qhull
	url = git@github.com:qhull/qhull.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = git@github.com:madler/zlib.git
