# Generated
.moc/
.obj/
.qrc/
.ui/
[Bb]in/
[Dd]ebug/
[Rr]elease/
GeneratedFiles/
Makefile
Makefile.Debug
Makefile.Release
nifskope_plugin_import.cpp
moc_*.cpp
qrc_*.cpp
ui_*.h
*.tags

# Intermediate 
*.o
*.obj
*.bak
*.ilk
*.log
*.tmp

# Eclipse project
.project
.cproject
.settings

# Qt Creator
NifSkope.pro.user
.qmake.stash

# Binaries
NifSkope
NifSkope.exe

# VC Project
*.cd
*.filters
*.psess
*.sln
*.sln.docstates
*.suo
*.vcxproj
*.vcxproj.user
*.vcproj
*.vcproj.user
*.vsp
*.vspscc
*.vssscc
*.vspx


# VC Cache
.vs/
ipch/
*.aps
*.cachefile
*.ncb
*.opendb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb

# VC Debug
vc100.pdb

# OS
[Tt]humbs.db
*.DS_Store
